body{
    background-color: #FFFFFF;
    margin: 0px;
}

.header{
    width: 100%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    border-bottom: 1px solid rgb(179, 179, 179);
    position: fixed;
    top: 0px;
    background-color: #FFFFFF;
    height: 3em;
    z-index: 1;
}

.menu a{
    text-decoration: none;
    margin: 1em;
    color: black;
}

a{
    text-decoration: none;
    color: currentColor;
}

hr{
    margin: 1em 10em;
}

.Container{
    width: 95%;
    max-width: 95%;
    margin: auto;
    margin-top: 2em;
    text-align: center;
    padding: 1em;
    color: whitesmoke;
}

.first{
    margin-top: 5em;
    height: 37em;
    background-image: url(../img/bkgroundblue.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.second{
    background-image: url(../img/bkgroundgreen.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35em;
}

.fotoperfil{
        width:6em;
        height:6em;
        border-radius:3.1em;
        border:2px solid #666;
        box-shadow:20px 20px 4em grey; 
}

.profiles{
    margin: 0px 2em;
}

h6{
    font-size: 1.3em;
    margin: 0.5em;
}

.profilesContainer{
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 2em;
    margin-top: 2em
}

.circulo{
    width:6em;
    height:6em;
    border-radius:3.1em;
    margin: 0;
    border:2px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
}


.span{
    font-size: 3em; 
    color: #3DB2C4;
}

.arrow{
    width:1.25em;
    height:1.25em;
    border-radius:0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    font-size: 4em;
    color: white;
    position: absolute;
    left: 10em;
    top: 9em; 
}

.arrow a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow:hover{
    width: 1.24em;
    height: 1.24em;
    background-color: cornsilk;
    color: cadetblue;
}
.white{
    background-color: white;
    margin-bottom: 2em;
}


.CardHTML{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 2em;
    background-color: white;
    border-radius: 2em;
    color: white;
    width: 13em;
    height: 27em;
}

.CardHTML p{
    margin: 0px 1em;
}

.img1{
    width: 30em;
}

.flexrow{
    display: flex;
    flex-direction: row;
}

.space{
    justify-content: space-between;
}

.flexcontainer{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.containerImg{
    width: 40%;
    background-color: white;
    color: black;
    border-radius: 3em;
    margin: auto;
}


.cntTxtCard{
    width: 90%;
    background-color: rgb(66, 184, 135);
    border-radius: 2em;
    margin: 0px auto;
    height: 17em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn{
    width: 60%;
    height: 2em;
    background-color: #3DB2C4;
    margin: 0.5em auto;
    border-radius: 2em;

}

.lstCrd{
    text-align: start;
    margin: 0.5em 0em;
}

.insc{
    width: 40%;
    background-color: rgb(61, 104, 196);
}

.btn:hover{
    background-color: rgb(17, 6, 179);
}

.link{
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: rgb(0, 102, 185);
    color: white;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
}