body{
    background-color: #FFFFFF;
    margin: 0px;
}

.header{
    width: 100%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    border-bottom: 1px solid rgb(179, 179, 179);
    position: fixed;
    top: 0px;
    background-color: #FFFFFF;
    height: 3em;
    z-index: 1;
}

.menu a{
    text-decoration: none;
    margin: 1em;
    color: black;
}

a{
    text-decoration: none;
    color: currentColor;
}

hr{
    margin: 1em 10em;
}

.Container{
    width: 95%;
    max-width: 95%;
    margin: auto;
    margin-top: 2em;
    text-align: center;
    padding: 1em;
    color: whitesmoke;
}

.first{
    margin-top: 5em;
    height: 570px;
    background-image: url(../img/bkgroundblue.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.second{
    background-image: url(../img/bkgroundgreen.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.fotoperfil{
        width:6em;
        height:6em;
        border-radius:3.1em;
        border:2px solid #666;
        box-shadow:20px 20px 4em grey; 
}

.profiles{
    margin: 0px 2em;
}

h6{
    font-size: 1.3em;
    margin: 0.5em;
}

.profilesContainer{
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 2em;
    margin-top: 2em
}

.circulo{
    width:6em;
    height:6em;
    border-radius:3.1em;
    margin: 0;
    border:2px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
}


.span{
    font-size: 3em; 
    color: #3b83bd;
}

.arrow{
    width:1.25em;
    height:1.25em;
    border-radius:0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    font-size: 4em;
    color: white;
    position: absolute;
    left: 700px;
    top: 620px; 
}

.arrow a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow:hover{
    width: 1.24em;
    height: 1.24em;
    font-size: 4.12em;
}
.white{
    background-color: white;
}

.CardHTML{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.CardHTML p{
    margin: 0px 1em;
}

.img1{
    width: 30em;
}

.flexrow{
    display: flex;
    flex-direction: row;
}

.flexcontainer{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.containerImg{
    width: 40%;
    background-color: white;
    color: black;
    border-radius: 3em;
}